<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimerasoft_ec.thematrix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:theme="@style/Base.Theme.AppCompat" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatrixConfiguration"
            android:label="@string/matrix_configuration"
            android:theme="@style/Base.V7.Theme.AppCompat.Dialog" />
        <activity
            android:name=".InterchangeActivity"
            android:label="@string/interchange"
            android:theme="@style/Base.V7.Theme.AppCompat.Dialog" />
        <activity
            android:label="@string/colors"
            android:name=".SetColorsActivity"
            android:theme="@style/Base.V7.Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>